body {
  margin: 0 auto;
  padding: 1vw;
  font-family: 'avenir', sans-serif;
  color: #1d2129;
}

section {
  margin: 1.5vw 0;
}

h3,
h4 {
  margin: 0;
}

.header span {
  font-size: 1.3vw;
  margin: 0 0.5vw 0 0;
}

.header p {
  font-size: 1.7vw;
  margin-top: 1.5vw;
}

.item p {
  margin: 0;
  font-size: 1.4vw;
}

.divider {
  background: black;
  height: 0.2vw;
  width: 100%;
  border-radius: 0.1vw;
  margin: 0.2vw auto;
}

.item {
  margin: 2vw 0;
}

.item-header * {
  display: inline
}

.item-header p {
  float: right;
  margin-top: 0.2vw;
}

ul {
  padding-inline-start: 3vw;
  margin: 0vw;
  font-size: 1.5vw;
}

.nav-header {
  display: flex;
  background-color: black;
  color: white;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right:1vw;
  padding-left:1vw;
}

.nav-item {
  flex: content;
  padding:0.1vw;
  color: white;
  background-color: gray;
  font-size: 2vw;
  display: flex;
  margin: 0.5vw;
  padding-right: 1vw;
  padding-left: 1vw;
  text-align: center;
}

div iframe  {
    border: 0;
    height: 5vw;
    width: 100%;
 }

h1 {
  text-align: center;
  font-size: 4vw;
}