$SANDSTONE: #F4CC70;
$BURNT_ORANGE: #DE7A22;
$LAGOON: #6AB187;
$SEA: #20948B;

$DARK: #0B0C10;
$DARK_BLUE: #1F2833;
$LIGHT-GRAY: #C5C6C7;
$CYAN: #66FCF1;
$TEAL: #45A29E;


// $MAIN-BG: $DARK;
$MAIN-BG: $LIGHT-GRAY;
$DIV-BG: $TEAL;
$SUB-DIV-BG: $DARK_BLUE;
$TEXT-COLOR: white;
$SUB-DIV-ITEM-BG: $CYAN;
$BOX-SHADOW: rgba(0,0,0,0.3);
$ITEM-HOVER: rgba(80,100,150,0.5);