@import "./colors.scss";

.color-palette {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 100;
  width: 100%;
  height: fit-content;
  min-width: 100px;
  max-width: 300px;
  overflow-y: scroll;
  color: $TEXT-COLOR;
  padding: 12px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  background-color: $DIV-BG;
  gap: 8px;
  right: 0;
  top: 0;
  margin: 12px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 1px 2px 2px $BOX-SHADOW;

}

.color-palette-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  width: 100%;
  column-gap: 4px;
  padding: 8px;
  box-sizing: border-box;
}
.color-palette-option:hover {
  cursor: pointer;
  background-color: $ITEM-HOVER;
}
.color-palette-option > p {
  margin: 0;
}

.color-palette-option > img {
  width: 24px;
  height: 24px;
  z-index: 100;
  border-radius: 8px;
}