.color-palette {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 100;
  width: 100%;
  height: fit-content;
  min-width: 100px;
  max-width: 200px;
  overflow-y: scroll;
  color: white;
  padding: 12px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  background-color: #6AB187;
  gap: 8px;
  right: 0;
  top: 0;
  margin: 12px;
  border-radius: 8px;
  padding: 8px;
}

.color-palette-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  width: 100%;
  column-gap: 4px;
  padding: 8px;
  box-sizing: border-box;
}
.color-palette-option:hover {
  cursor: pointer;
  background-color: rgba(80,100,150,0.5);
}
.color-palette-option-name {
  font-size: x-small;
  margin: 0;
}

.color-palette-option-img {
  width: 24px;
  height: 24px;
  z-index: 100;
}