@import "./colors.scss";

.dimension-slider {
  display: flex;
  max-width: 500px;
  max-height: fit-content;
  background: $DIV-BG;
  z-index: 100;
  padding: 8px;
  color: white;
  justify-content: space-evenly;
  box-shadow: 0 1px 2px 2px $BOX-SHADOW;
  border-radius: 8px;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;

    input:hover {
      cursor: pointer;
    }
  }
}