@import "./colors.scss";

#info {
  background: $DIV-BG;
  height: fit-content;
  min-width: fit-content;
  box-shadow: $BOX-SHADOW;
  .header {
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    box-shadow: $BOX-SHADOW;

    width: 100%;
  }
}