@import "./colors.scss";
@import "./dimensions.scss";

#instructions {
  background: $DIV-BG;
  padding: 8px;
  flex-direction: column;
  box-shadow: $BOX-SHADOW;

  gap: 8px;
  width: $SIDEBAR-WIDTH;
  box-sizing: border-box;

  p {
    background: $SUB-DIV-BG;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
  }
}