@import "./colors.scss";
@import "./dimensions.scss";



.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  height: fit-content;
  min-height: fit-content;
  max-height: 500px;
  width: $SIDEBAR-WIDTH;
  min-width: $SIDEBAR-WIDTH;
  max-width: $SIDEBAR-WIDTH;
  
  z-index: 100;
  padding: 12px;
  gap: 8px;
  
  background: $DIV-BG;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 2px $BOX-SHADOW;
}

.sidebar-item {
  width: 100%;
  height: fit-content;
  padding: 16px;
  background: $SEA;
  box-sizing: border-box;
  border-radius: 8px;;
}

.sidebar-item:hover {
  cursor: pointer;
  background: rgba(80,100,150,0.5);
}