@import "./colors.scss";

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 8px;
  background: $SUB-DIV-BG;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;

  .toggle {
    display: flex;
    background: $SUB-DIV-ITEM-BG;
    padding: 4px;
    border-radius: 32px;
    width: 30%;
    max-width: 100px;
    outline: none;
  
    input {
      min-height: 40px;
      min-width: 40px;
      appearance: none;
      background: $ITEM-HOVER;
      border-radius: 50%;
      margin: 0;
      outline: none;
    }
  }

  .toggle:hover {
    cursor: pointer;
  }
}

.toggle-container > p {
  margin: 0;
  width: 30%;
}

.toggle-container > p:first-of-type {
  text-align: left;
}

.toggle-container > p:last-of-type {
  text-align: right;
}

.toggled {
  justify-content: flex-end;
}

input[type=checkbox]:hover {
  cursor: pointer;
}
